body{
    background-image: url(../images/jungle2.jpg);
    margin: 0;
}
.charm-bold {
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
}
.nunito-regular {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
header{
    background-image: url(../images/Jungle.jpg);
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
header h1{
    font-size: 120px;
    font-family: "Charm", serif;
    padding-bottom: 25px;
}
header h2{
    font-family: "Nunito", serif;
    font-size: 35px;
}
section h2{
    color: white;
    font-size: 70px;
    margin: 0;
    font-family: "Charm", serif;
}
header p{
    font-size: 50px;
    color: white;
}
p{
    font-family: "Nunito", serif;
    font-size: 35px;
    color: white;
    padding-top: 15px;
}
section{
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(44, 25, 1);
}
footer{
    background-color: rgb(22, 22, 22);
    padding-top: 200px;
    margin: 0;
}
footer button{
    background-image: url(../images/jungle3.jpg);
    background-size: cover;
    padding: 0;
  
}
footer p{
    font-family: "Charm", serif;
    font-size: 40px;
    padding-left: 0;
}
form{
    background-color: rgb(33, 58, 1);
    padding:30px;
    padding-bottom: 50px;
    margin: 0;
}
form p{
    font-family: "Charm", serif;
    font-size: 40px;
}
.subheader{
    background-color: rgb(22, 22, 22);
    padding: 75px;
    margin: 0;
}
img{
    padding: 30px;
}
.end{
    background-color: rgb(33, 58, 1);
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;  
}
